*{
	box-sizing:border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
header {
	background-color: #F8F8F8;
	border: 1px #F8F8F8 solid;
}

.wrapper {
	background-color: #F8F8F8;
	width: 80%;
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	background-color: #F8F8F8;
	text-align: right;
}

nav a {
	text-decoration: none;
	margin: 1.8em;
	display: inline-block;
	font-size: 1.3em;
	line-height: 1.4em;
}