@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
header {
	background-color: #FFED74;
	border: 1px black solid;
}

.wrapper {
	background-color: rgb(248, 248, 248);
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	background-color: #E8C66A;
	text-align: right;
}

nav a {
	text-decoration: none;
	margin: 1.8em;
	display: inline-block;
}

article {
	background-color: #E89C6C;
}

footer {
	background-color: #FF957E
}

h1 {
	font-size: 300%;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	opacity: 1.0;
	text-align: center;
}

p {
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	color: rgb(0, 0, 0);
	opacity: 0.6;
	font-family: 'Droid Serif', serif;
}

a {
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	color: rgb(0, 0, 0);
	opacity: 0.6;
	font-family: 'Droid Serif', serif;

}

a:hover {
	background-color: gray;
	opacity: 0.3;
}

#two_column {
	background-color: #FFB7CF;
	border: 1 px black solid;
	padding: 20px;
}

#left {E582A2
	background-color: #BD10E0;
	border: 1px solid black;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border: 1px solid black;
	padding: 20px;
	float: right;
	width: 62%;
}