@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

header {
	background-color: #F8F8F8;
	border: 1px #F8F8F8 solid;
}


header h4 {
	text-align: center;
}




.wrapper {
	background-color: #F8F8F8;
	max-width: 60em;
	margin: auto;


}

nav {
	background-color: #e8e8e8;
	text-align: right;
}

nav a {
	text-decoration: none;
	margin: 1.75em;
	display: inline-block;
	font-size: 1.25em;
	line-height: 1.5;
	color: rgba(0, 0, 0, .6);
}

footer {
	text-align: center;
	padding: 1.75em;
}

footer a {
	font-size: 1.25em;
	color: rgba(0, 0, 0, .6);
	text-decoration: none;
	}

h1 {
	font-size: 3em;
	font-weight: 700;
	text-align: center;
	padding-top: .6em;
}


h4 {
	line-height: 1.5;
	color: rgba(0, 0, 0, .5);
}

p {
	/*margin-top: 12px;*/
	line-height: 1.5;
	color: rgba(0, 0, 0, .5);
}

img {
	max-width: 100%;
	float: center;
}



.caption {
	width: 350px;
	display: inline-block;
	float: right;
	line-height: 1em;
}



.caption p {
	margin-top: 20px;
}


#intro {
	padding: 40px 35px;
	border-bottom: 1px dotted gray;
}

#intro img {
	width: 70%;
	padding-top: 40px;
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#intro p {
	margin-bottom: 2em;
}

#one {
	padding: 30px;
	border-bottom: 1px dotted gray;
	display: block;

}

#one img {
	padding: 30px;
}



#two {
	padding: 30px;
	border-bottom: 1px dotted gray;
}

#two img {
	padding: 30px;
}

#three {
	padding: 30px;
	border-bottom: 1px dotted gray;
	
}

#three img {
	padding: 30px;
}

#four {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px dotted gray;
}


@media only screen and (max-width: 1040px) {

}

