@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

body {
	color: rgb(255, 115, 0);
	font-family: 'Droid Serif', serif;
}

h1 {
	font-family: 'Lato', sans-serif;
}
