@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:18px;
}
header {
	background-color: #F8F8F8;
	border: 1px #F8F8F8 solid;	
}
header h4 {
	text-align: center;
}

.wrapper {
	background-color: #F8F8F8;
	max-width: 60em;
	margin:auto;
}

#logo {
	float: left;
}

nav {
	background-color: #F8F8F8;
	text-align: right;
}


nav a {
	text-decoration: none;
	margin: 1.75em;
	display: inline-block;
	font-size: 1.25em;
	line-height: 1.5;
	color: rgba(0, 0, 0, .6);
}




footer {
	text-align: center;
	padding: 1.75em;
}

footer a {
	font-size: 1.25em;
	color: rgba(0, 0, 0, .6);
	text-decoration: none;
}
h1 {
	font-size: 3em;
	font-weight: 700;
	text-align: center;
	padding-top: .6em;
}


h4 {
	line-height: 1.5;
	color: rgba(0, 0, 0, .5);
	text-align: center;
	padding: 1.75em;
}

p {
	line-height: 1.5;
	color: rgba(0, 0, 0, .5);
}

ul, ol {
	padding-left: 20px;
	color: rgba(0, 0, 0, .5);
	line-height: 1.5;
	margin-bottom: 1em
}

a {
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: rgba(0, 0, 0, .6);
	text-decoration: none;
}

#text_right {
	text-align: left;

}

.watch {
	max-width: 350px;
	float: none;
}


#newsgram_images {

}

#cleared {
	clear: both;
}

a:hover {
	opacity: 0.8;
}
img {
	max-width: 100%;
	float: center;
}

#two_column > * {
	float:left;
	padding:2em;
	width:50%;
}
#two_column > *:nth-child(even) {
	float:right;
}
#two_column a {
	display:block;
	position:relative;
}
#two_column > a > p {
	position:absolute;
	top:3em;
	left:3em;
	width: 250px;
	color: rgba(255, 255, 255, 255);
}
#two_column img {
	width: 100%;
}
#description p {
	line-height: 1.5;
	color: rgba(0, 0, 0, .5);
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 20px;
	max-width: 650px;
}

#description h3 {
	line-height: 1.5;
	padding-left: 1.75em;
	margin-top: 20px;
}

#description {
	padding-top: 1.5em;
}

#description img {
	width: 30%;
	float: right;
	margin: 30px;
}


#process_image {
	padding: 2em;
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.caption {
	width: 38%;
	display: inline-block;
	float: right;
	line-height: 1em;
}



.caption p {
	margin-top: 20px;
}


#intro {
	padding: 40px 35px;
	border-bottom: 1px dotted gray;
}

#intro img {
	width: 70%;
	padding-top: 0px;
	padding-bottom: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



#intro p {
	margin-bottom: 1em;
}




#one {
	padding: 30px;
	border-bottom: 1px dotted gray;
	display: block;
}


#watch_one img {
	width: 60%;

}

#watch_one {
	padding: 30px;
	border-bottom: 1px dotted gray;
/*	display: block;*/
}

#one img {
	width: 20%;
	padding: 10px;
}


#two {
	padding: 30px;
	border-bottom: 1px dotted gray;
}

#two img {
	width: 20%;
	padding: 10px;
}

#three {
	padding: 30px;
	border-bottom: 1px dotted gray;
	
}

#three img {
	width: 20%;
	padding: 10px;
}

#four {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px dotted gray;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

ul {
	display: none;
}

#toggle_nav {
	background-color: transparent;
    border: 0px;
}

.toggle-menu-bar {
	display: block;
	width: 25px;
	height: 4px;
	background-color: #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 3px;
  	transition: background-color 0.2s;
}

#toggle_nav {display: none;
}

#nav_list {
	font-size: 1.25em;
	margin-left: .75em;
}



@media only screen and (max-width: 900px) {

	h1 {
		font-size: 2em;
	}

	p, a {
		font-size: 1em;
	}

	.two_column {
		font-size: .8em;
		width: 100%;
		float: none;
		display: block;
		margin: 1.5%;
		padding: 1%;
		margin-left: auto;
		margin-right: auto;
	}

	.caption.spring_playlist {
		font-size: 0.75em;
	}

}
@media only screen and (max-width: 700px) {
		#two_column > * {
		float:left;
		padding:2em;
		width:100%;
	}
	header nav {
		text-align: center;
	}

.caption p, ol {
	font-size: .75em;

}
	
	h1 {
		max-width: 400px;
		margin: auto;
	}

	#description img {
		float: none;
		min-width: 200px;
		padding-left: auto;
		padding-right: auto;s

	}

	#one img, #two img, #three img {
	width: 19%;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;

	}



}	
@media only screen and (max-width: 560px) {
.caption.spring_playlist {
	float: none;
	display: block;
	width: 100%;
	font-size: 1em;
}

.caption.spring_watch {
	float: none;
	display: block;
	width: 100%;
	font-size: 1em;
}



#one img, #two img, #three img {
	width: 32%
}

#watch_one img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}



.caption h3 {
	text-align: center;
}

}
@media only screen and (max-width: 480px) {
		#two_column > a > p {
		font-size: 1em;
		width: 50%;

	}
	
	#logo {
		display: none;
		
	}


	#toggle_nav {
	display: block;
	float: right;
	margin: 1.5em;
	}	

	#desktop_nav {
		display: none;
	}

.caption
{
	width: 72%;
	display: block;
	float: none;
	margin: auto;
}

	header nav {
		text-align: center;
	}

	h1{
		font-size: 1.5em;
		max-width: 85%;
		margin-top: 1.5em;
	}
	h2 {
		font-size: 1em;
	}

	h3 {
		padding-top: 1.5em;
		font-size: 1em;
		
	}

	h4 {
		font-size: .75em;
	}

	#description {
		width: 100%;
		display: block;
		margin: 1.5%;
		padding: 1%;
		margin-left: auto;
		margin-right: auto;
	}



	#one img, #two img, #three img {
	width: 70%;
	padding-top: 40px;
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;

	}
}


