@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:18px;
}
header {
	background-color: #F8F8F8;
	border: 1px #F8F8F8 solid;	
}


.wrapper {
	background-color: #F8F8F8;
	max-width: 60em;
	margin:auto;
}

nav {
	background-color: #e8e8e8;
	text-align: right;
}

nav a {
	text-decoration: none;
	margin: 1.75em;
	display: inline-block;
	font-size: 1.25em;
	line-height: 1.5;
}


footer {
	text-align: center;
	padding: 1.75em;
}

footer a {
	font-size: 1.25em;
}
h1 {
	font-size: 3em;
	font-weight: 700;
	text-align: center;
	padding-top: .6em;
}


p {
	line-height: 1.5;
	color: rgba(0, 0, 0, .5);
}
a {
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: rgba(0, 0, 0, .6);
	text-decoration: none;

}
a:hover {
	opacity: 0.8;
}


#two_column > * {
	float:left;
	padding:2em;
	width:50%;
}
#two_column > *:nth-child(even) {
	float:right;
}
#two_column a {
	display:block;
	position:relative;
}
#two_column > a > p {
	position:absolute;
	top:3em;
	left:3em;
	width: 250px;
	color: rgba(255, 255, 255, 255);
}
#two_column img {
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 900px) {

	h1 {
		font-size: 2em;
	}

	p, a {
		font-size: 1em;
	}
}
	/*.two_column {
		font-size: .8em
		width: 100%;
		float: none;
		display: block;
		margin: 1.5%;
		padding: 1%;
		margin-left: auto;
		margin-right: auto;
		}

@media only screen and (max-width: 700px) {
		#two_column > * {
		float:left;
		padding:2em;
		width:100%;
	}
	header nav {
		text-align: center;
	}


	
	h1 {
		max-width: 400px;
		margin: auto;
	}

}	

@media only screen and (max-width: 480px) {
		#two_column > a > p {
		font-size: 1em;
		width: 50%;

	}
	

	header nav {
		text-align: center;
	}

	h1{
		font-size: 1.75em;

	}
}


